
html {
	font-family: sans-serif;
}
body {
	width: 50%;
	max-width: 800px;
	min-width: 480px;
	margin: 0 auto;
}
#petName{
    background-color: rgb(230, 202, 173);
	border: 2px solid rgb(139, 0, 0);
	border-radius: 5px;
	padding: 0.2em;
	cursor: pointer;
}